{% extends "Base.html" %}
{% block body %}
    <section class="magasin">
        <div id="container">
            <div class="container-magasin">
                <div class="ajoute"><a href="/Ajouter/"><button type="button" class="btn btn-success btn-lg">Ajouter</button></a></div>
                <div class="title4"><h4>Liste des Magasin</h4></div>
                <table class=" tableau">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Adresse</th>
                            <th>Téléphone</th>
                            <th>Mail</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    
                <tbody>
                    {% for data in data%}
                        <tr>
                            <td>{{data.Id}}</td>
                            <td>{{data.Nom_magasin}}</td>
                            <td>{{data.Addresse_magasin}}</td>
                            <td>{{data.Telephone}}</td>
                            <td>{{data.E_mail}}</td>
                            <td class="editer">
                                <div>
                                    <a href="/Modifier/">Modifier</a>
                                    <a href="/Supprimer/">Supprimer</a>
                                </div>
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
                </table>
            </div>
        </div>
</section>      
{% endblock %}
            
       