{% extends "Base.html" %}
{% block body %}
    <section class="ajouter">
        <div id="container">
            <div class="container-ajouter">
                <div><h3>Modifier un magasin</h3></div>
                <form action="/Succes_modif/">
                    
                    <div class="mb-3 row">
                        <label for="Name" class="col-sm-2 col-form-label">Nom :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Nom_magasin" value="Magasin 5" id="Name">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Adresse" class="col-sm-2 col-form-label">Adresse :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Adresse_magasin" value="Adresse 5" id="Adresse">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="tel" class="col-sm-2 col-form-label">Téléphone :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Telephone" style="color: #8FAF47;" value="Téléphone M" id="tel">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="text" class="col-sm-2 col-form-label">E-mail :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="E-mail" value="E-mail 5" id="email">
                        </div>
                    </div>
                    <div class="mb-3 row justify-content-center " style="width: 90%;">
                        <div class="col-sm-10 column justify-content-center align-items-center ms-auto" style="width: 32%;">
                            <button type="reset" class="btn btn-danger button"><a href="/Magasin/">Retour</a></button>
                            <a href=""> <button type="submit" class="btn btn-success"> Valider</button></a>
                        </div>
        
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
            
        
    