{% extends "Base.html" %}
{% block body %}
    <section class="magasin">
        <div id="container">
            <div class="container-magasin">
                <div class="ajoute"><a href="/Ajout_produit/"><button type="button" class="btn btn-success btn-lg">Ajouter</button></a></div>
                <div class="title4"><h4>Liste des Produit</h4></div>
                <table class=" tableau">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Catégorie</th>
                            <th>Prix</th>
                            <th>Descrpition</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Produit1 1</td>
                        <td>Catégorie 1</td>
                        <td>Prix 1</td>
                        <td>Descrpition 1</td>
                        <td class="editer">
                            <div>
                                <a href="/Modifier_produit/">Modifier</a>
                                <a href="/Supprimer_produit/">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Produit 2</td>
                        <td>Catégorie 2</td>
                        <td>Prix 2</td>
                        <td>Descrpition 2</td>
                        <td class="editer">
                            <div>
                                <a href="/Modifier_produit/">Modifier</a>
                                <a href="/Supprimer_produit/">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Produit 3</td>
                        <td>Catégorie 3</td>
                        <td>Prix 3</td>
                        <td>Descrpition 3</td>
                        <td class="editer">
                            <div>
                                <a href="/Modifier_produit/">Modifier</a>
                                <a href="/Supprimer_produit/">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Produit 4</td>
                        <td>Catégorie 4</td>
                        <td>Prix 4</td>
                        <td>Descrpition 4</td>
                        <td class="editer">
                            <div>
                                <a href="/Modifier_produit/">Modifier</a>
                                <a href="/Supprimer_produit/">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Produit 5</td>
                        <td>Catégorie 5</td>
                        <td>Prix 5</td>
                        <td>Descrpition 5</td>
                        <td class="editer">
                            <div>
                                <a href="/Modifier_produit/">Modifier</a>
                                <a href="/Supprimer_produit/">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Produit 6</td>
                        <td>Catégorie 6</td>
                        <td>Prix 6</td>
                        <td>Descrpition 6</td>
                        <td class="editer">
                            <div>
                                <a href="/Modifier_produit/">Modifier</a>
                                <a href="/Supprimer_produit/">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Produit 7</td>
                        <td>Catégorie 7</td>
                        <td>Prix 7</td>
                        <td>Descrpition 7</td>
                        <td class="editer">
                            <div>
                                <a href="/Modifier_produit/">Modifier</a>
                                <a href="/Supprimer_produit/">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
</section>      
{% endblock %}
            
       