{% extends "Base.html" %}
{% block body %}
    <section class="magasin">
        <div id="container">
            <div class="container-magasin">
                <div class="ajoute"><a href="/Ajout_produit/"><button type="button" class="btn btn-success btn-lg">Ajouter</button></a></div>
                <div class="titre"><p>Votre Produit N° {{listaj.Id}} a été enregistré avec succès</p></div>
                <table class=" tableau">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Catégorie</th>
                            <th>Prix</th>
                            <th>Descrpition</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                    {% for listaj in listaj %}
                        <tr>
                            <td>{{listaj.Id}}</td>
                            <td>{{listaj.Nom_produit}}</td>
                            <td>{{listaj.Categorie}}</td>
                            <td>{{listaj.PrixUnitaire}}</td>
                            <td>{{listaj.Description}}</td>
                            <td class="editer">
                                <div>
                                    <a href="/Modifier_produit/">Modifier</a>
                                    <a href="/Supprimer_produit/">Supprimer</a>
                                </div>
                            </td>
                        </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
</section>      
{% endblock %}
            
       