{% extends "Base.html" %}
{% block body %}
    <section class="magasin">
        <div id="container">
            <div class="container-magasin">
                <div class="ajoute"><a href="/Ajouter/"><button type="button" class="btn btn-success btn-lg">Ajouter</button></a></div>
                <div class="titre"><p>Le magasin numéro 2 a été supprimé avec succès</p></div>
                <table class=" tableau">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Adresse</th>
                            <th>Téléphone</th>
                            <th>Mail</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Magasin 1</td>
                        <td>Adresse 1</td>
                        <td>Téléphone 1</td>
                        <td>E-Mail 1</td>
                        <td class="editer">
                            <div>
                                <a href="/Modifier/">Modifier</a>
                                <a href="/Supprimer/">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Magasin 2</td>
                        <td>Adresse 2</td>
                        <td>Téléphone 2</td>
                        <td>E-Mail 2</td>
                        <td class="editer">
                            <div>
                                <a href="/Modifier/">Modifier</a>
                                <a href="/Supprimer/">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Magasin 3</td>
                        <td>Adresse 3</td>
                        <td>Téléphone 3</td>
                        <td>E-Mail 3</td>
                        <td class="editer">
                            <div>
                                <a href="/Modifier/">Modifier</a>
                                <a href="/Supprimer/">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    <td>4</td>
                        <td>Magasin 4</td>
                        <td>Adresse 4</td>
                        <td>Téléphone 4</td>
                        <td>E-Mail 4</td>
                        <td class="editer">
                            <div>
                                <a href="/Modifier/">Modifier</a>
                                <a href="/Supprimer/">Supprimer</a>
                            </div>
                        </td>
                    <tr class="green">
                        <td>5</td>
                        <td>Magasin 5</td>
                        <td>Adresse 5</td>
                        <td>Téléphone 5</td>
                        <td>E-Mail 5</td>
                        <td class="editer">
                            <div>
                                <a href="/Modifier/">Modifier</a>
                                <a href="/Supprimer/">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Magasin 6</td>
                        <td>Adresse 6</td>
                        <td>Téléphone 6</td>
                        <td>E-Mail 6</td>
                        <td class="editer">
                            <div>
                                <a href="/Modifier/">Modifier</a>
                                <a href="/Supprimer/">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Magasin 7</td>
                        <td>Adresse 7</td>
                        <td>Téléphone 7</td>
                        <td>E-Mail 7</td>
                        <td class="editer">
                            <div>
                                <a href="/Modifier/">Modifier</a>
                                <a href="/Supprimer/">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                    <tr >
                        <td>8</td>
                        <td>Magasin 8</td>
                        <td>Adresse 8</td>
                        <td>Téléphone 8</td>
                        <td>E-Mail 8</td>
                        <td class="editer">
                            <div>
                                <a href="/Modifier/">Modifier</a>
                                <a href="/Supprimer/">Supprimer</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
</section>      
{% endblock %}
            
  